==========================================

[공통 및 IDE 설정]

==========================================

.idea/
.vscode/
*.iws
*.iml
*.ipr
/shelf/
/workspace.xml
/mavenHomeManager.xml
.DS_Store
Thumbs.db
*.log
nohup.out

STS

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

NetBeans

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

==========================================

[백엔드: mockinvest_backend]

==========================================

mockinvest_backend/HELP.md
mockinvest_backend/.gradle/
mockinvest_backend/build/
mockinvest_backend/out/
mockinvest_backend/bin/
mockinvest_backend/*.jar

백엔드 특정 예외 처리 (필요한 경우)

!mockinvest_backend/gradle/wrapper/gradle-wrapper.jar
!mockinvest_backend//src/main//build/
!mockinvest_backend//src/test//build/
!mockinvest_backend//src/main//bin/
!mockinvest_backend//src/test//bin/
!mockinvest_backend//src/main//out/
!mockinvest_backend//src/test//out/

==========================================

[프론트엔드: mockinvest_frontend]

==========================================

mockinvest_fronted/node_modules/
mockinvest_fronted/dist/
mockinvest_fronted/.env*
mockinvest_fronted/.eslintcache
mockinvest_fronted/build/